<% include header.ejs %>
  <h1>Your name: <%= user.username %></h1>
    <p>Welcome to your home ~</p>
    
    <hr>
    <div id="msg" class="alert" role="alert" style="display:none"></div>
    <% include usernav_left.ejs %>
    <div class="rightcontent pull-left" style="width:80%">

        <h3 style="margin-bottom:35px;">修改密码:</h3>
        <div class="modfiy">

        <div class="form-horizontal">

             <input class="form-control" type="hidden" value="<%= user.username %>" id="username">
             <div class="form-group">
              <label class="col-sm-2 control-label" for="password">新密码</label>
              <div class="col-sm-10">
                  <input class="form-control" name="password" id="password" type="password" value="">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="password1">确认新密码</label>
              <div class="col-sm-10">
                  <input class="form-control" name="password1" id="password1" type="password" value="">
              </div>
            </div>

            <button class="btn btn-primary btn-sm" id="modfiy-btn" style="width:120px;margin-left:120px;">修改</button>
        </div>
        </div>
        
    </div>

<% include footer.ejs %>

<script>
$(function(){

$('#modfiy-btn').click(function(){

        var username = $("#username").val();
				var password=$('#password').val();
				var password1=$('#password1').val();
				var data={'username':username,'password':password};
				if(password != password1){
					
					$('#msg').html('新密码和确认密码不相等').show();
					$('#msg').addClass('alert alert-warning alert-error');
					$("#msg").fadeTo(2000, 500).slideUp(500, function(){
						$("#msg").hide();
					});
          return;
				}
				else {
					
					$.ajax({
						url:'/user/modfiyuserpass',
						type:'post',
						data:data,
						success:function(data,status){
                        
							if(data.code == 200){
								$('#msg').html(data.message).show();
								$('#msg').addClass('alert alert-success');
								setTimeout(function(){
									location.href ='/user/home'
								},1000);
							} else {
								// alert(data.message);
								$('#msg').html(data.message);
								$('#msg').addClass('alert alert-warning alert-error');
								$("#msg").fadeTo(2000, 500).slideUp(500, function(){
									$("#msg").hide();
								});
							}
						},
						error:function(data,err){
              console.log(err)
							console.log('ajax fail');
						}
					})
					
				}
			});


})

</script>