<% include header.ejs %>
<h2><%- message %> <a href="/home" class="back">返回</a></h2>
<hr>


  <div style="container">
      <div class="row">
            <h1><%- id %></h1>
      </div>
  </div>



<% include footer.ejs %>

<script>

</script>