  <div class="sidebar">
      <p><a href="/user/home">个人中心</a></p>
      <p><a href="/user/modfiypassword">修改密码</a></p>
      <p><a href="/movie/list/manage">列表管理</a></p>
      <hr>
      <p><a href="/user/mymovielist">我发布的电影</a></p>
    <hr>
    </div>